log.txt
token.txt
insert.py
**/__pycache__
.vscode/settings.json
runApoc.bat
runSprawl.bat
factorymap.psd
factorymap.png
map.psd
**/venv
**/.idea
**/test_data.pickle
data/personal
images/*
data/*.json
!images/no_map.jpg
data/data.pickle